-nfl_player = poll_option.nfl_player
-if nfl_player.stats[-2] then      
  %table.table.table-striped.table-bordered
    %thead
      %tr
        -nfl_player.stats[0].stat_display_order.each do |label|
          %th
            =label
    %tbody
      -stat = nfl_player.stats[-2]
      %tr  
        -stat.stat_display_order.each do |label|
          %td
            =stat[label]
-else
  No Stats Available