/ =raise poll.inspect
.row{:id => "#{poll._id}"}
  .span3
    %h3
      =poll.question 
    Week:
    =poll.week
    %p
    Scoring:
    =poll.scoring
    %p
    Notes:
    %p
    =poll.note  
    .span3
      <br><br>
      Choose:
      =poll.user_votes_left(current_user)
      more
      <br><br>
      %table.table.table-bordered.table-striped
        - poll.poll_options.each do |poll_option|
          %tr
            %td
              = poll_option.users.count
              -if poll_option.can_vote?(current_user)
                =link_to "Vote", poll_option_vote_up_path(poll_option), :remote => true, :class =>"btn",
                               :id => poll_option._id
                / poll_option_vote_up_path(poll_option), :class => "btn"
              -else
                -if poll_option.voted?(current_user)
                  =link_to "Unvote",  poll_option_unvote_path(poll_option), :remote => true, :class =>"btn", 
                               :id => poll_option._id
                  / =field.submit "unvote", poll_option_unvote_path(poll_option), :class=> "btn"
            %td
              =poll_option.name
      <br>
      -#if votes_left == 0 then
        =#link_to "Thanks for voting! Return to main menu.", polls_path, :class => "btn"