.container-full
  .container-fluid
    .row-fluid
      %h1
        %span.fan FAN
        %span.sensus SENSUS
      %h2 Fantasy Football question? -- Get the fan consensus with Fansensus
      .item
        =image_tag("fs-choices.png", :style => "width: 90%")
        %h4 Answer Questions
        %p Fansensus makes it fast and easy for you to help out other fantasy sports players.  Answer correctly to raise your Fantasy IQ (FIQ) and win prizes.
      .item
        =image_tag("fs-questionmark.png", :style => "width: 90%")
        %h4 Create Polls
        %p Sign up to create your own poll questions.  Get advice from other players who aren't in your league.  We don't spam and it's free!
      .item
        =image_tag("fs-stats.png", :style => "width: 90%")
        %h4 Track Results
        %p See how people voted.  Fansensus will track everyone's historical accuracy to help you make the best educated decision.
 