.poll-pane.span6.pane{:id => "#{poll._id}"}
  .row-fluid
    %h1=poll.question
    - if poll.user == current_user
      -if poll.editable?
        = link_to '<i class="icon-pencil">Edit</i>'.html_safe, edit_poll_path(poll), class:"edit_poll"
        =button_to "Delete", poll, {:method => :delete, :confirm => "Are you sure?",
                   :class => "btn btn-danger btn-mini"}
    %h3.header-topright
      -if poll.user.image
        =image_tag(poll.user.image)
      &nbsp;
      =poll.user.display_name
    .row-fluid
      .floatleft
        %h2 
          Week
          =poll.week
          \:
          =poll.subtitle
        %h2
          Scoring:
          =poll.scoring
      .floatright
        %h4
          <br>             
          - if poll.expired?
            This poll has expired.
          - else
            - if poll.user_votes_left(current_user) > 0            
              Choose
              =poll.user_votes_left(current_user)
              more.
            - else
              Thanks for voting!
    .row-fluid
      .spacing
      %table.table.polltable
        %colgroup
          %col
          %col
          %col
          %col
        %thead
          %th &nbsp;
          %th Player
          %th VS
          %th Game
        %tbody
        - poll.poll_options.each_with_index do |poll_option, index|
          - letter = index.to_s(27).tr("0-9a-q", "A-Z")
          %tr.poll-row
            %td   
              -if !poll.expired?
                -if poll_option.can_vote?(current_user)
                  -if user_signed_in?
                    =link_to letter, poll_option_vote_up_path(poll_option), :remote => true, 
                                   :class =>"btn poll-btn btn-large btn-primary", :id => poll_option._id
                  -else
                    =link_to letter, new_user_registration_path,
                                   :class =>"btn poll-btn btn-large btn-primary", :id => poll_option._id
                -else
                  -if poll_option.voted?(current_user)
                    =link_to '<i class="icon-ok"></i>'.html_safe,
                              poll_option_unvote_path(poll_option), :remote => true, 
                              :class =>"btn poll-btn btn-large btn-warning", :id => poll_option._id
            %td{:overflow => "hidden"}
              -if !poll_option.nfl_player.nil?
                =link_to poll_option.nfl_player.name_team_pos,
                         poll_option_display_stats_path(poll_option), 
                        :id => poll_option._id, :remote => true
              -else
                =poll_option.name
                
            %td
              -if !poll_option.nfl_player.nil? 
                =poll_option.nfl_player.opp
            %td
              -if !poll_option.nfl_player.nil? 
                =poll_option.nfl_player.game_time_formatted
    -if !poll.note.empty?
      .row-fluid
        %h2 Notes
        %p=poll.note          
    .row-fluid
      .pull-right
        Asked
        =time_ago_in_words(poll.created_at)
        ago.


        
