.span7
  .row{:id => "#{poll._id}"}
    .well
      .row
        .span4
          %h2.poll-header
            =poll.question
          - if poll.user == current_user
            -if poll.editable?
              = link_to '<i class="icon-pencil">Edit</i>'.html_safe, edit_poll_path(poll), class:"edit_poll"
              =button_to "Delete", poll, {:method => :delete, :confirm => "Are you sure?",
                         :class => "btn btn-danger btn-mini"}
          <br>
          %h4#poll-subheader
            Week
            =poll.week
            \:
            =poll.subtitle
            %p
            Scoring:
            =poll.scoring
        .span2
          %h3.askedby
            -if poll.user.image
              =image_tag(poll.user.image)
            &nbsp;
            =poll.user.display_name                       
            %p
            - if poll.expired?
              %p This poll has expired.
            - else
              .pick_more
                - if poll.user_votes_left(current_user) > 0            
                  Choose
                  =poll.user_votes_left(current_user)
                  more.
                - else
                  Thanks for voting!
  
      .row
        .span6
          %table.table
            %colgroup
              %col.span1
              %col.span3
              %col.span1
              %col.span2
            %thead
              %tr
                %td &nbsp;
                %td Player
                %td VS
                %td Game
            %tbody
            - poll.poll_options.each_with_index do |poll_option, index|
              - letter = index.to_s(27).tr("0-9a-q", "A-Z")
              %tr
                %td   
                  -if !poll.expired?
                    -if poll_option.can_vote?(current_user)
                      -if user_signed_in?
                        =link_to letter, poll_option_vote_up_path(poll_option), :remote => true, 
                                       :class =>"btn btn-primary", :id => poll_option._id
                      -else
                        =link_to letter, new_user_registration_path,
                                       :class =>"btn btn-primary", :id => poll_option._id
                    -else
                      -if poll_option.voted?(current_user)
                        =link_to '<i class="icon-ok"></i>'.html_safe,
                                  poll_option_unvote_path(poll_option), :remote => true, 
                                  :class =>"btn btn-warning ", :id => poll_option._id
                %td{:overflow => "hidden"}
                  -if !poll_option.nfl_player.nil?
                    =link_to poll_option.nfl_player.name_team_pos,
                             poll_option_display_stats_path(poll_option), 
                            :id => poll_option._id, :remote => true
                  -else
                    =poll_option.name
                    
                %td
                  -if !poll_option.nfl_player.nil? 
                    =poll_option.nfl_player.opp
                %td
                  -if !poll_option.nfl_player.nil? 
                    =poll_option.nfl_player.game_time_formatted
      .row
        .span6
          %p
          -if !poll.note.empty?
            %h4
              Notes:&nbsp
              =poll.note  
                  
      .row
        .pull-right
          Asked
          =time_ago_in_words(poll.created_at)
          ago.


          
