.span4.pane.white-pane.results-pane
  -if last_poll
    %h1 Results From Last Poll
  -if poll
    .row-fluid
      %p
        =time_ago_in_words(poll.created_at)
        ago,
        -if poll.user.display_name
          =poll.user.display_name
          asked:
      ="(Week #{poll.week}) #{poll.question}"
    .row-fluid
      %table.table.polltable
        %colgroup
          %col
          %col
        %thead
          %tr
            %th Player
            %th Results
        %tbody
          - poll.poll_options.each_with_index do |poll_option, index|
            - letter = index.to_s(27).tr("0-9a-q", "A-Z")
            %tr
              %td{:overflow => "hidden"}
                -poll_option.set_nfl_player
                =poll_option.display
              %td
                - if poll_option.poll.total_votes != 0
                  = "%2d%" % (poll_option.users.count.to_f / poll_option.poll.total_votes.to_f * 100)
                - if poll_option.voted?(current_user)
                  %i.icon-ok
    .row-fluid
      .h3
        Out of
        =poll.total_votes
        votes.      
      =link_to poll_url(poll), poll_path(poll)
      -if last_poll
        .pull-right
          =link_to "Show User Votes",
                    poll_user_results_path(poll), :remote => true, 
                    :class =>"btn btn-warning btn-small"
    -if last_poll
      .row-fluid
        %table.table{:id => "user_result_"+poll._id.to_s, :style=>"display:none"}
          -poll.poll_options.each do |poll_option|
            %tr
              %th{:colspan => 3}
                %h4
                  =poll_option.users.count
                  votes for
                  =poll_option.display
            -poll_option.users.each do |user|
              %tr
                %td=user.display_name 
                %td 
                  -if user.image
                    =image_tag(user.image)
                %td
                  FIQ:
                  =user.fiq