%h1 Leaderboard
-@users.each_with_index do |user, index|
  .row
    %h3
      =index+1
      - if user.image
        =image_tag(user.image)
      - else
        =image_tag("image_missing.gif", :size => "50x50")
      =user.points
      Points
    %p