%h2 
  You currently have:
  =current_user.points
  Guru Points!
%p
-poll_options = current_user.poll_options
-polls = poll_options.map{|i| i.poll}

%h2 Your votes:
-polls.each do |poll|
  %h3
    Week
    =poll.week
    \:
    =poll.question
    \-
    =poll.subtitle
  <p>
  You voted for 
  -poll.poll_options.each do |poll_option|
    -if poll_option.users.include?(current_user)
      = poll_option.name
      and received
      = poll_option.points
      guru points.
      <br>
  
  