%h2
  Your current Fantasy IQ (FIQ):
  =current_user.fiq
%p

.navbar
  .navbar-inner2
    %ul.nav
      -(0..17).each do |week|
        - if week == @week 
          %li.active2
            - if week == 0 
              =link_to "All Weeks", my_votes_path(:week => week)
            - else
              =link_to week, my_votes_path(:week => week)
        - else 
          %li
            - if week == 0
              =link_to "All Weeks", my_votes_path(:week => week)
            - else
              =link_to week, my_votes_path(:week => week)
<br>
%h2 Your votes:
.row
-if @polls
  -@polls.each do |poll|
    - if poll 
      =render "polls/results", {:poll => poll, :last_poll => false}
  
  