- unless user_signed_in? 
  Please 
  = link_to "log in", new_user_session_path
  to vote or answer the question.<br/>
-else
  %h3
    =@poll.question 
  %p
  =@poll.note
  %p
  - @poll.poll_options.each do |poll_option|
    =poll_option.name
    -if poll_option.can_vote?(current_user)
      =link_to "vote_up", poll_option_vote_up_path(poll_option)
    -else
      -if poll_option.voted?(current_user)
        Option Selected
      -else
        You've voted
    -if poll_option.voted?(current_user)
      |
      =link_to "unvote", poll_option_unvote_path(poll_option)
    <br>