th.mid, td.mid{
  vertical-align:middle;
}
th.center, td.center {
  form {
    margin: 0px;
    input {
      margin: 0px;
    }
  }
  
  text-align:center;
}

.pick_more {
  font-size: 16px;
  color: red;
}


.control-label {
	float: left;
	width: 140px;
	padding: 5px;
	text-align: right;
}
.navbar-inner2 {
  -webkit-border-image: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0625) 0px 1px 4px 0px;
  background-color: #FAFAFA;
  background-image: -webkit-linear-gradient(top, white, #F2F2F2);
  background-repeat: repeat-x;
  border-bottom-color: #D4D4D4;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #D4D4D4;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #D4D4D4;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #D4D4D4;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.0625) 0px 1px 4px 0px;
  color: #555;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-height: 40px;
  overflow-x: visible;
  overflow-y: visible;
  padding-left: 20px;
  padding-right: 20px;
  width: 670px;
}

.active2 {
  -webkit-box-shadow: rgba(0, 0, 0, 0.121094) 0px 3px 8px 0px inset;
  background-color: #E5E5E5;
  box-shadow: rgba(0, 0, 0, 0.121094) 0px 3px 8px 0px inset;
  color: #555;
  cursor: auto;
  display: block;
  float: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: left;
  text-decoration: none;
  text-shadow: white 0px 1px 0px;
}