/*
Author:  	Leonard Li
URL:		FanCensus.com
Version: 	v1

FFC900 - base

Old:
A68200 - brown
FFC900 - lighter orange
FF9E00 - darker orange
FFF200 - yellow

Football:
663300 - Brown
339900 - Green
A6A408 - Light Green
8B4C39 - Another Brown

@font-face {
  font-family: 'Junction';
  src: 
  url('../fonts/junction/Junction-webfont.eot?') format('eot'), 
  url('../fonts/junction/Junction-webfont.woff') format('woff'), 
  url('../fonts/junction/Junction-webfont.ttf') format('truetype'),
  url('../fonts/junction/Junction-webfont.svg') format('svg');
}
*/


/*** Override Standards  ***/
body {
	font-size: 0.9em;
	color: brown;
	/*background: url(http://us.123rf.com/400wm/400/400/dehooks/dehooks1008/dehooks100800007/7625550-closeup-of-50-yard-line-on-american-football-field.jpg) no-repeat center center fixed; 
	*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
	.fan {
		font-size: 1em;
		color: #FFFFFF;
		font-weight: 750;
	}

	.sensus {
	font-size: 1em;
	color: #339900;
	font-weight: 690;
	}

h1 {
	color: #663300;
	padding: 0 0 10px 0;
}

h2 {
	color: #000;
	display: inline;
}

h3 {
	margin: 5px 0;
	font-size: 14px;
	line-height: normal;
}
	h3 span {
		font-weight: 100;
		float: right;
	}

.clear {
	display:block;
}

.pollbtn {
	margin: 0;
	padding: 3px 15px;
}

.spacing {
	display: block;	
	margin: 20px 0px;
}

.textbold {
	font-weight: 700;
}

.floatleft{
	float:left;
}

.floatright{
	float:right;
}

.leftpad {
	margin: 0 0 0 10px;
}

table {
	font-size: 1em;

}

.pane {
	display: block;
	float: left;
	overflow: hidden;
	color: #5C3317;

	width: 90%;
	padding: 10px 20px 20px 20px;		
	margin: 15px 0 0 0;

	font-size: 1em;
	border: 1px solid #663300;
	/*border: 1px solid orange;*/
	background: lightyellow;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
	.pane h4 {
		float: left;
	}

	.pane .askedby {
		font-size: 14px;
		float: right;
		margin-top:7px;
	}


@media only screen and (max-width:420px) {
}
