<h1>Listing nfl_players</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nfl_players.each do |nfl_player| %>
  <tr>
    <td><%= nfl_player.name %></td>
    <td><%= nfl_player.position %></td>
    <td><%= nfl_player.number %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Nfl player', new_nfl_player_path %>
