%p#notice
  = notice
  
%h3=@nfl_player.name 
%b==Yahoo_id: 
=@nfl_player.yahoo_id
%br
%b==Number: 
=@nfl_player.number   
%br
%b==Position: 
=@nfl_player.position
%br
%b==Team:     
=@nfl_player.team
%br
%b==Height:   
=@nfl_player.height   
%br
%b==Weight:
=@nfl_player.weight   
%br
%b==Age: 
=@nfl_player.age    
%br
%b==Born:
=@nfl_player.born     
%br
%b==College:
=@nfl_player.college  
%br
%b==Draft:
=@nfl_player.draft
%p

-if @nfl_player.stats[0].nil?
  %h3 No stats available for this player
-else
  %table.table.table-striped.table-bordered
    %thead
      %tr
        -@nfl_player.stats[0].stat_display_order.each do |label|
          %th
            =label
    %tbody
      -@nfl_player.stats.each do |stat|
        %tr  
        -stat.stat_display_order.each do |label|
          %td
            =stat[label]
        
        




 